/*
    https://www.zaherr.com
*/

:root {
    --primary-color: #1070a1;
    --primary-color2: #11b8aa;
    --primary-rp-color: #940d4a;
    --primary-rp-color2: #ba2985;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --light-color: #fefefe;
    --dark-color: #131313;
    --gradient-color: linear-gradient(45deg, #1070a1 0%, #11b8aa 100%);
    --gradient-bg-color: linear-gradient(270deg, #0487b3 0%, #30b5b8 100%);
    --gradient-rp-color: linear-gradient(270deg, #940d4a 0%, #ba2985 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px -10px rgba(57, 56, 61, 0.205);
    --roboto: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    background-color: #e2d8bd;
    background-image: url(../images/tooplate_body.jpg);
    background-repeat: repeat;
}

a, a:link, a:visited {
    color: #de6d19;
    text-decoration: none;
    padding: 7px;
}

a:hover {
    opacity: 0.9;
}

p {
    margin: 0 0 15px 0;
    padding: 0;
}

img {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #482d12;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size: 38px;
    font-weight: normal;
    margin: 0 0 20px 0;
    padding: 5px 0;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 30px 0;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    margin: 0 0 15px 0;
    padding: 0;
    padding: 0;
    font-weight: normal;
}

h4 {
    font-size: 14px;
    margin: 0 0 5px 0;
    padding: 0;
}

.cleaner {
    clear: both;
    width: 100%;
    height: 0px;
    font-size: 0px;
}

.cleaner-h10 {
    clear: both;
    width: 100%;
    height: 10px;
}

.cleaner_h20 {
    clear: both;
    width: 100%;
    height: 20px;
}

.cleaner_h30 {
    clear: both;
    width: 100%;
    height: 30px;
}

.cleaner_h40 {
    clear: both;
    width: 100%;
    height: 40px;
}

.cleaner_h50 {
    clear: both;
    width: 100%;
    height: 50px;
}

.cleaner_h60 {
    clear: both;
    width: 100%;
    height: 60px;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.image_wrapper {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.image_wrapper:hover {
    border: 1px solid #eee;
    box-shadow: 5px 20px 25px -15px rgba(0, 0, 0, 0.5);
}

.image_fl {
    float: left;
    margin: 0px 20px 0 0;
}

.image_fr {
    float: right;
    margin: 0px 0 0 30px;
}

blockquote {
    font-style: italic;
    margin: 0 0 0 10px;
}

cite {
    font-weight: bold;
    color: #333;
}

cite span {
    color: #666;
}

em {
    color: #29b5d3;
}

.tooplate_list {
    margin: 20px 0 20px 20px;
    padding: 0;
    list-style: none;
}

.tooplate_list li {
    background: transparent url(images/tooplate_list.png) no-repeat;
    margin: 0 0 20px;
    padding: 0 0 0 20px;
    line-height: 1em;
}

.tooplate_list li a {
    color: #fff;
}

.tooplate_list li a:hover {
    color: #ff4301;
}

.btn_more a {
    display: inline-block;
    font-weight: bold;
    color: #000;
    font-size: 12px;
    padding: 2px 15px 2px 0;
    text-decoration: none;
}

.btn_more a:hover {
    padding-right: 20px;
    text-decoration: none;
}

.col_400 {
    width: 400px;
}

.col_300 {
    width: 300px;
}

.col_280 {
    width: 280px;
}

.service_list {
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
}

.service_list li {
    margin: 0;
    padding: 0;
}

.service_list li a {
    font-size: 16px;
    display: block;
    height: 25px;
    margin-bottom: 20px;
    padding-left: 40px;
    text-decoration: none;
}

.service_list li .service_one {
    background: url(images/onebit_08.png) center left no-repeat;
}

.service_list li .service_two {
    background: url(images/onebit_11.png) center left no-repeat;
}

.service_list li .service_three {
    background: url(images/onebit_17.png) center left no-repeat;
}

.service_list li .service_four {
    background: url(images/onebit_21.png) center left no-repeat;
}

.service_list li .service_five {
    background: url(images/onebit_12.png) center left no-repeat;
}

#contact_form {
    padding: 0;
}

#contact_form form {
    margin: 0px;
    padding: 0px;
}

#contact_form form input,
#contact_form form textarea {
    padding: 10px;
    background: #eeeeee;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    outline: none;
}


#contact_form form textarea {
    width: 375px;
    height: 150px;
    border-radius: 10px;
}

#contact_form form .input-field {
    width: 350px;
    border-radius: 50px;
}

#contact_form form label {
    display: block;
    width: 100px;
    margin-right: 10px;
    font-size: 14px;
}


#contact_form form .submit_btn {
    margin: 10px 0px;
    padding: 5px 14px;
    color: #444;
    background: #eeeeee;
    border: 1px solid #dfdfdf;
    font-size: 14px;
}

/* projects */
.projectList {
    width: 100%;
    border: 2px solid #ddd;
}

.projectList li {
    width: 45%;
    float: left;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #ddd;
}

.projectList li img {
    width: 100%;
    margin-left: -5px;
    border-radius: 5px;
}

.projectList li:hover {
    box-shadow: 5px 20px 20px -15px rgba(0, 0, 0, 0.4);
}

.projectList li:hover .content_poject {
    display: block;
    color: #159;
}

.projectList .content_poject {
    display: none;
    margin: 5px 60px;
    left: 10px;
    font-size: 20px;
    color: #155;
    display: block;

}

/* gallery */
#gallery_container {
    clear: both;
    margin-top: 30px;
    padding-right: 40px;
}

.gallery_box {
    float: left;
    width: 185px;
}

.gallery_box img {
    width: 160px;
    height: 120px;
    padding: 1px;
    border: 1px solid #CCC;
    margin: 10px;
    border-radius: 2px;
}

.gallery_box:hover img {
    box-shadow: 5px 20px 20px -15px rgba(0, 0, 0, 0.4);
}

/* end of gallery */
.inline-block, #Auth {
    width: 250px;
    margin: 0px 5px 10px 50px;
    display: inline-block;
}

.inline-block a {
    color: #fff;
    margin: 2px
}

.title-h2 {
    font-size: 3rem;
}

.social-box {
    margin-top: 20px;
}

.social-box img {
    width: 75px;
    height: 75px;
}


.brand-area .brand-card .single-brand {
    border: 1px solid grey;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    transition: transform .4s ease;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.brand-area .brand-card .single-brand:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.01);
    filter: brightness(.15);
}

.brand-area .brand-card .single-brand > span {
    color: grey;
    font-weight: 700;
    font-size: 25px;
    font-style: italic;
    font-family: Poppins, sans-serif;
    padding: 1rem;
    margin:1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.m-5 {
    margin: 5rem;
}


.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}


.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-5 {
    padding: 5rem;
}


.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}